@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700');

@font-face{
    font-family:"Lemon Milk Light";
    src: url("../fuentes/LemonMilk/LEMONMILK-Light.otf");
}
 @font-face{   
    font-family:"Lemon Milk Medium";
    src: url("../fuentes/LemonMilk/LEMONMILK-Medium.otf");
}
 @font-face{   
    font-family:"Comfortaa Bold";
    src: url("../fuentes/Comfortaa/Comfortaa-Bold.ttf");
}
 @font-face{   
    font-family:"Geo Sans Light";
    src: url("../fuentes/geosanslight/GeosansLight.ttf");
}

*{   
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing:border-box;  
}
body {
    background-color: #e8e8e8;
}
body::-webkit-scrollbar {
    width: 7px;
    background-color: rgba(0,0,0,.9);
}
body::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,.17);
    border-radius: 10px;
    border-right: 2px solid rgba(255,255,255,.0);
    
}
.ir-arriba {
	display: none;
	padding: 1.5%;
	background-color: rgba(52,53,54,.8);
	font-size: 100%;
	color: #fff;
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	right: 20px;
    border-radius: 10%;
}
.ir-arriba:hover{
    background: #343536;
    transition: all .25s;
}

/*============MENU==============*/
.logoPrincipal {
    width: 40%;
}
.navbar-dark .navbar-nav .nav-item .nav-link, .navbar-dark .navbar-nav .nav-item.active .nav-link, .navbar-dark .navbar-nav .nav-item.dropdown .nav-link{
    font-family: 'Comfortaa Bold', sans-serif;
    text-transform: uppercase;
    color: #fff;
}
.navbar-dark{
    background-color: rgba(0,0,0,.7);
}
.navbar-dark .navbar-nav .nav-item:hover, .navbar-dark .navbar-nav .nav-item:hover .nav-link, .navbar-dark .navbar-nav .nav-item.dropdown:hover .nav-link{
    color: #E1E1E1;
}
.navbar-toggler{
    border-color: rgba(255,255,255,0) !important;
}
.dropdown-menu {
    background-color: rgba(0,0,0,.7) !important;
}
.dropdown-item {
    color: white !important;
}
.dropdown-item:hover {
    background-color: rgba(0,0,0,.0) !important;
    color: #E1E1E1 !important;
}

@media (max-width: 770px) {
    .logoPrincipal {
        width: 30%;
    }
    .navbar-dark .navbar-nav .nav-item .nav-link, .navbar-dark .navbar-nav .nav-item.active .nav-link{
        font-size: 80%;
    }
}
@media (max-width: 550px) {
    .logoPrincipal {
        width: 16%;
    }
    
}

/*============SLIDER==============*/
.carousel-item{
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}
.carousel-caption{
    margin-bottom: 12%;
    padding: 0% 12%;
}
.carousel-caption h5{
    font-size: 350%;
    border-bottom: 5px solid #F40F0F;
    font-family: 'Lemon Milk Medium', sans-serif;
    margin-bottom: 2% !important;
}
.carousel-caption p{
    font-size: 120%;
    font-family: 'Comfortaa Bold', sans-serif;
}

@media (max-width: 1024px) {
    
    .carousel-caption{
        margin-bottom: 9%;
        padding: 0% 12%;
    }
    .carousel-caption h5{
        font-size: 300%;
    }
    .carousel-caption p{
        font-size: 100%;
    }
}
@media (max-width: 850px) {
    
    .carousel-caption{
        margin-bottom: 7%;
        padding: 0% 12%;
    }
    .carousel-caption h5{
        font-size: 220%;
    }
    .carousel-caption p{
        font-size: 70%;
    }
}
@media (max-width: 670px) {
    
    .carousel-caption{
        margin-bottom: 6%;
        padding: 0% 14%;
    }
    .carousel-caption h5{
        font-size: 150%;
    }
    .carousel-caption p{
        font-size: 60%;
    }
}
@media (max-width: 500px) {
    
    .carousel-caption{
        margin-bottom: 2%;
        padding: 0% 16%;
    }
    .carousel-caption h5{
        border-bottom: 2px solid #F40F0F;
        font-size: 100%;
    }
    .carousel-caption p{
        font-size: 40%;
    }
}

/*============MODAL==============*/
.modal-body {
    padding: 0 !important;
}

.modal-xl {
    max-width: 1000px !important;
}

.col-lg-7{
    padding-right: 0 !important;
    padding: 1%;
}

.btn-close-popup{
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: absolute;
    text-decoration: none;
    right: -5px;
    top: -20px;
    padding: .5%;
    background: black;
    color: white !important;
    border-radius: 50%;
    font-size: 25px;
    text-align: center;
    z-index: 1;
}

.col-lg-7 h2 {
    font-family: 'Lemon Milk Light', sans-serif;
    font-size: 180%; 
}

.col-lg-7 p {
    font-family: 'Comfortaa Bold', sans-serif;
    font-size: 110%;
}

@media (max-width: 1200px) {
    .modal-xl {
        max-width: 900px !important;
    }
}
@media (max-width: 992px) {
    .modal-xl {
        max-width: 620px !important;
    }
    .col-lg-7 {
        padding-left: 25px !important;
    }
    .btn-close-popup{
        right: -5px;
        top: -484px;
    }
}
@media (max-width: 645px){
    .modal-dialog {
        max-width: 450px !important;
    }
    .btn-close-popup{
        right: -5px;
        top: -350px;
    }
    .col-lg-7 h2 {
       font-size: 150%; 
    }
    .col-lg-7 p {
        font-size: 80%;
    }
}
@media (max-width: 450px){
    .modal-dialog {
        max-width: 330px !important;
    }
    .btn-close-popup{
        right: -5px;
        top: -260px;
    }
}
@media (min-width: 0px){
    .modal-dialog {
        margin: 1.75rem auto !important;
    }
}
/*============Formulario==============*/
.form h2 {
    font-family: 'Lemon Milk Light', sans-serif;
}

/*============Barra buscador y Tabla==============*/
.contenedorBuscador {
    margin: 6%;
}
.contenedorBuscador h2{
     font-family: 'Lemon Milk Light', sans-serif;
}
.form-box {
    display: flex;
    padding: 0% 2%;
    width: 100%;
    margin: auto;
    max-width: 800px;
}
.campo-busqueda {
    height: 5%;
    padding: 2.5%;
}
.auto {
    font-family: "Comfortaa Bold";
    width: 90%;
    border: none;
    border-bottom: 2px solid #343536;
    outline: none;
    height: auto;
    font-size: 100%;
}

.btn-buscar {
    height: 64px;
    width: 10%;
    background: #343536;
    border: none;
    color: #fff;
    cursor: pointer;
}
.btn-buscar i {
    font-size: 25px;
}
.SelecAutos {
    padding: 1% 2%;
    width: 100%;
    margin: auto;
    max-width: 800px;
}
.SelecAutos input[type="radio"]{
    display: none;
}
.SelecAutos label {
    font-family: "Comfortaa Bold";
    color: #343536;
    padding: 4%;
    align-items: center;
    cursor: pointer;
    display: flex;
}
.SelecAutos .Disp label:before {
    content: "";
    height: 30px;
    width: 30px;
    border: 3px solid #343536;
    border-radius: 50%;
    margin-right: 2%;
}
.SelecAutos .Disp input[type="radio"]:checked + label{
    color: #01cc65;
}
.SelecAutos .Disp input[type="radio"]:checked + label:before {
    border: 3px solid #01cc65;
    background-color: #01cc65;
}

.SelecAutos .Elim label:before {
    content: "";
    height: 30px;
    width: 30px;
    border: 3px solid #343536;
    border-radius: 50%;
    margin-right: 2%;
}
.SelecAutos .Elim input[type="radio"]:checked + label{
    color: #FF5757;
}
.SelecAutos .Elim input[type="radio"]:checked + label:before {
    border: 3px solid #FF5757;
    background-color: #FF5757;
}

.content-table {
    font-family:sans-serif;
    border-collapse: collapse;
    font-size: 90%;
    width: 100%;
    margin: 4% auto;
    max-width: 900px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: white;
}
.content-table thead tr {
    font-size: 120%;
    color: #FF5757;
    text-align: left;
}

.content-table th,
.content-table td {
    font-size: 120%;;
    padding: 12px 15px;
    display: table-cell;
    vertical-align: top;
}

.tbImg img {
    width: 100%;
    border-radius: 5%;
    cursor: pointer;
}
.content-table tbody tr {

}

.content-table tbody tr:hover {
    background-color: #f3f3f3;
}

@media (max-width: 770px){
    .form-box {
        max-width: 500px;
    }
    .form-box select {
        font-size: 80%;
    }
    .campo-busqueda {
        padding: 1.5%;
    }
    .auto {
        width: 60%;
        font-size: 80%;
    }
    .filtro {
        width: 30%;
    }
    .btn-buscar {
        width: 15%;
    }
    
    .content-table {
        font-size: 80%;
        max-width: 600px;
    }
    
    .btn-modificar, .btn-eliminar {
        width: 90%;
    }
}

@media (max-width: 570px) {
    .form-box {
        max-width: 400px;
    }
    .btn-buscar {
        width: 12%;
        height: 50px;
    }
        
    .content-table {
        font-size: 70%;
        max-width: 500px;
    }

    .btn-modificar, .btn-eliminar {
        width: 95%;
        height: 25px;
        font-size: 100%;
    }  
}

@media (max-width: 470px) {

    .tbImg img{
        width: 120%;
    }
    .btn-modificar, .btn-eliminar {
        width: 100%;
        height: 25px;
        font-size: 90%;
    }  
}
@media (max-width: 400px) {

    .tbImg img{
        width: 140%;
    }
}