@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700');

@font-face{
    font-family:"Lemon Milk Light";
    src: url("../fuentes/LemonMilk/LEMONMILK-Light.otf");
}
 @font-face{   
    font-family:"Lemon Milk Medium";
    src: url("../fuentes/LemonMilk/LEMONMILK-Medium.otf");
}
 @font-face{   
    font-family:"Comfortaa Bold";
    src: url("../fuentes/Comfortaa/Comfortaa-Bold.ttf");
}
 @font-face{   
    font-family:"Geo Sans Light";
    src: url("../fuentes/geosanslight/GeosansLight.ttf");
}

*{   
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing:border-box;  
}
body {
    background-color: #e8e8e8;
}
body::-webkit-scrollbar {
    width: 7px;
    background-color: rgba(0,0,0,.9);
}
body::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,.17);
    border-radius: 10px;
    border-right: 2px solid rgba(255,255,255,.0);
    
}
/*============MENU==============*/
.logoPrincipal {
    width: 40%;
}
.navbar-dark .navbar-nav .nav-item .nav-link, .navbar-dark .navbar-nav .nav-item.active .nav-link{
    font-family: 'Comfortaa Bold', sans-serif;
    text-transform: uppercase;
    color: #fff;
}
.navbar-dark{
    background-color: rgba(0,0,0,.7);
}
.navbar-dark .navbar-nav .nav-item:hover, .navbar-dark .navbar-nav .nav-item:hover .nav-link{
    color: #E1E1E1;
}
.navbar-toggler{
    border-color: rgba(255,255,255,0) !important;
}
.dropdown-menu {
    background-color: rgba(0,0,0,.7) !important;
}
.dropdown-item {
    color: white !important;
}
.dropdown-item:hover {
    background-color: rgba(0,0,0,.0) !important;
}

@media (max-width: 770px) {
    .logoPrincipal {
        width: 30%;
    }
    .navbar-dark .navbar-nav .nav-item .nav-link, .navbar-dark .navbar-nav .nav-item.active .nav-link{
        font-size: 80%;
    }
}
@media (max-width: 550px) {
    .logoPrincipal {
        width: 16%;
    }

}

/*============SLIDER==============*/
.carousel-item{
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}
.carousel-caption{
    margin-bottom: 13%;
    padding: 0% 12%;
}
.carousel-caption h5{
    font-size: 350%;
    border-bottom: 5px solid #F40F0F;
    font-family: 'Lemon Milk Medium', sans-serif;
    margin-bottom: 2% !important;
}
.carousel-caption p{
    font-size: 120%;
    font-family: 'Comfortaa Bold', sans-serif;
}

@media (max-width: 1024px) {
    
    .carousel-caption{
        margin-bottom: 9%;
    }
    .carousel-caption h5{
        font-size: 300%;
    }
    .carousel-caption p{
        font-size: 100%;
    }
}
@media (max-width: 850px) {
    
    .carousel-caption{
        margin-bottom: 7%;
    }
    .carousel-caption h5{
        font-size: 220%;
    }
    .carousel-caption p{
        font-size: 70%;
    }
}
@media (max-width: 670px) {
    
    .carousel-caption{
        margin-bottom: 6%;
    }
    .carousel-caption h5{
        font-size: 150%;
    }
    .carousel-caption p{
        font-size: 60%;
    }
}
@media (max-width: 500px) {
    
    .carousel-caption{
        margin-bottom: 2%;
        padding: 0% 14%;
    }
    .carousel-caption h5{
        border-bottom: 2px solid #F40F0F;
        font-size: 100%;
    }
    .carousel-caption p{
        font-size: 40%;
    }
}
/*==========CONTACTANOS=================*/

.content {
    margin: 0% 5%;
    padding: 4% 0%;
}

ul {
    list-style: none;
    padding: 0;
}

.contact-wrapper {
    -webkit-box-shadow: 6px 7px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 7px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 6px 7px 5px 1px rgba(0,0,0,0.75);
}

.contact-form {
    background: #222222;
    height: 600px;
}

/* CONTACT INFO */
.contact-info {
    background-image: url(../img/mecanicoFondo.jpg);
    color: white;
    height: 600px;
    padding: 7%;
}

.contact-info span{
    font-size: 800%;
    display: block;
    text-align: center;
    margin-bottom: 7%;
}
.contact-info i{
    font-size: 150%;
    cursor: pointer;
    transition: all .3s;
}
.contact-info h4, .contact-info ul, .contact-info p {
    margin-top: 4%;
}

@media(min-width: 700px) {
    
    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact-info {
        padding: 7%;
    }
}
/*============FOOTER==============*/

footer{
    width: 100%;
    background-image: url(../img/mecanicoFondo.jpg);
    color: white;   
}

.container-footer-all{
    background-image: url(../img/mecanicoFondo.jpg);
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 3%;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.colum1{
    max-width: 350px;
}

.colum1 h1{
    font-family: 'Lemon Milk Light', sans-serif;
    font-size: 120%;
}

.colum1 p{
    font-family: 'Geo Sans Light', sans-serif;
    font-size: 100%;
    color: #C7C7C7;
    margin-top: 3%;
    font-weight: bold;
}
.colum1 a {
    text-decoration: none;
    color: white;
    
}
.colum2{
    min-width: 300px;
}

.colum2 h1{
    font-family: 'Lemon Milk Light', sans-serif;
    font-size: 120%;
}
.rows{
    margin-top: 6%;
    display: flex;
}
.rows a, .rows a:hover {
    text-decoration: none;
    color: #C7C7C7;
}
.rows i {
    color: #fff;
    padding: 30%;
    font-size: 200%;
    transition: all .2s;
}
.fa-facebook-square:hover {
    color: #375AD4;
}
.fa-instagram:hover {
  color: transparent;
  background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}
.fa-whatsapp:hover {
    color: #00CF6A;
}

.rows label{
    font-family: 'Geo Sans Light', sans-serif;
    font-weight: bold;
    font-size: 120%;
    margin-top: 5%;
    margin-left: 8%;
    color: #C7C7C7;
}

.colum3{
    max-width: 360px;
}

.colum3 h1{
    font-family: 'Lemon Milk Light', sans-serif;
    font-size: 120%;
}

.row2 i {
    color: #fff;
    padding: 30%;
    font-size: 200%;
    transition: all .2s;
}
.fa-map-marker-alt:hover{
    color: #E94646;
}
.fa-phone-alt:hover{
    color: #2C7523;
}
.fa-envelope:hover{
    color: #14779E;
}
.row2{
    margin-top: 7%;
    display: flex;
}

.row2 img{
    width: 10%;
    height: 10%;
}

.row2 label{
    font-family: 'Geo Sans Light', sans-serif;
    font-weight: bold;
    margin: 2% 6%;
}

.container-footer{
    width: 100%;  
    background: #101010;
}

.footer{
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 1.5% 6%;
}

.copyright{
    font-family: 'Geo Sans Light', sans-serif;
    font-weight: bold;
    color: #C7C7C7;
}

.copyright a{
    font-size: 100%;
    font-family: 'Comfortaa Bold', sans-serif;
    text-decoration: none;
    color: white;
    text-weight: bold;
}

@media(max-width: 1100px){
    
    .container-body{
        flex-wrap: wrap;
    }
    
    .colum1{
        max-width: 100%;
    }
    
    .colum2,
    .colum3{
        margin-top: 5%;
    }
}

@media(max-width: 770px){
    .colum2 {
        margin-top: 0%;
        margin-left: 9%;
        display: flex;  
    }
    .rows {
        margin-left: 10%;
        margin-top: 0%;  
    }
    .rows i {
        font-size: 300%;
        margin-left: 0%;
        margin-bottom: 0%;
    }
    .row2 {
        margin-left: 0%;
        margin-top: 3%;
    }
    .row2 label{
        margin-top: 0%;
    }
    .colum3 {
        margin-top: 0%;
        max-width: 290px;
    }
    .minimizar {
        display: none;
    }
    
}

@media(max-width: 714px){
    .row2 {
        margin-left: 20%;
    }
}

@media(max-width:470px) {
    .rows i {
        font-size: 240%;
    }
    .row2 {
        margin-top: 5%;
        margin-left: 10%;   
    }
    .row2 label {
        font-size: 70%;
    }
    .copyright {
        margin-left: 6%;
        font-size: 70%;
    }
}